body {
	/*background-image: url("../images/paper texture.jpg");*/
	
}

#columnDropdown {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	opacity: 1;
	width: 200px;
	height: 110px;
	overflow: scroll;
	position: absolute;
	border:thick;
	background-color: #ffff;
	top:-500px;
	left:-500px
}

label {
	font-weight: bold;
	color: #000080;
}

#sql_result_div {
	overflow: auto;
	max-width: 1500PX;
	max-height: 800PX;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#sql_result_div table {
	border: 1px solid #ddd;
	padding: 1px;
	border-collapse: collapse;
}

#sql_result_div tr:hover {
	background-color: #ddd;
}

#sql_result_div tr:nth-child(even) {
	background-color: #f2f2f2;
}

#sql_result_div tr:nth-child(odd) {
	background-color: white;
}

#sql_result_div tr, #sql_result_div td, #sql_result_div th {
	border: 1px solid black;
	white-space: nowrap;
	padding: 5px;
	text-align: left;
	border-collapse: collapse;
}

#sql_result_div td {
	halign: center;
}

#sql_result_div th {
	color: white;
	background-color: rgb(27, 105, 169);
	font-weight: bold;
	font-size: 12px;
	border-collapse: collapse;
}